secret.txt

I am interested in this property, however, I heard from reviews online that there are shady activities going on in this organization like using cheap plastic wall divider, policing who you bring home with you, invading your privacy, building miniscule rooms within rooms, and requesting for rent payment every 28 days rather than a whole month. Will this be the same if I book this apartment? I am merely trying to console myself to book this apartment, have you all revised your mannerisms?